.reviews {
  margin-left: 390px;
  margin-top: 130px;
}

.reviews h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  letter-spacing: 0%;
  margin-bottom: 30px;
}

.reviews h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.reviews h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0%;
}

.reviewText {
  font-size: 16px;
}

.reviewersPhoto {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.review {
  display: flex;
  flex-direction: row;
}

.reviewContainer {
  width: 550px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.reviewContainer::after {
  width: 100%;
  height: 2px;
  background-color: var(--grey-color);
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
}

.shortReview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.shortReview h4 {
  margin: 0px;
}

.reviewDescription,
.reviewDate {
  color: var(--grey-color);
}

.shortReviewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shortReviewImage {
  width: 15px;
  height: 16px;
  margin-right: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  width: 1140px;
}

.buttonArrow {
  width: 11px;
  height: 6px;
  margin: 0px 10px;
}

.reviewersName {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0px;
}

.reviewersJob {
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0%;
  margin: 5px 0;
  color: var(--dark-grey-color);
}
