.footer {
  margin-top: 45px;
  width: 1920px;
}

.logoFooter {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 390px;
  width: 1140px;
}

.helyflyLogo {
  width: 130px;
  height: 23px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.vkButton,
.facebookButton,
.instagrammButton {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.visaButton,
.mastercardButton {
  width: 39px;
  height: 27px;
  object-fit: contain;
}

.languageButton {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  align-items: center;
}

.languageButton p {
  margin-right: 5px;
}

.rightsFooter {
  background-color: #faf9f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.rightsFooter .buttons {
  width: 90px;
  margin-left: 390px;
}

.rights {
  color: #b3b3b3;
  margin-left: 350px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.rights p {
  margin: 5px 0;
}
