h2,
h4,
span,
p {
  text-align: left;
}

.schedule {
  margin-top: 30px;
  margin-left: 390px;
  width: 1140px;
}

.schedule h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  letter-spacing: 0%;
  width: 288px;
  margin-bottom: 20px;
}

.schedule table {
  width: 770px;
  height: 458px;
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
}

th,
td {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  align-items: center;
}

td {
  justify-content: space-between;
  border-top: 1px solid #c7c7c7;
}

.tableMainInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

th h4,
td h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
  letter-spacing: 0%;
  margin: 5px 0px;
}

th span,
td span {
  font-weight: 600;
  font-size: 18px;
  line-height: 146%;
  letter-spacing: 0%;
  margin: 5px 0px;
}

.calendarButton {
  background-image: url('calendar.svg');
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.chooseButton {
  padding: 0px;
  border: none;
  border: 2px solid #fc9b09;
  width: 130px;
  height: 50px;
  color: #fc9b09;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

#tdSlogan {
  padding: 0px 30px;
  border-top: none;
}

#tdSlogan .sloganContainer {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sloganContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.reviewsSlogan {
  display: flex;
  flex-direction: row;
}

.slogan {
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
  letter-spacing: 0%;
  margin-top: 30px;
}

.reviewsSlogan span {
  font-weight: 600;
  font-size: 18px;
  line-height: 146%;
  letter-spacing: 0%;
}

.reviewIcon {
  background-image: url('cup.svg');
  width: 40px;
  height: 37px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 25px;
}

.stars {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  margin-left: 10px;
}

.star {
  background-image: url('star.svg');
  width: 18px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
